@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background: #2196F3; 
}
.payment-logo{
    position:absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    text-align:center;
    line-height:85px;
}
.payment-logo:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #2196F3;
    border-radius: 50%;
  }
  .payment-logo p{
    position: relative;
    color: #f8f8f8;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 58px;
    transform:translateY(5px);
  }
.payment{
    width:360px;
    height:auto;
    border: 2px solid black;
    position: relative;
    margin: 80px auto;
    background: #f8f8f8;
    padding: 10px;
}
h2{
    text-align:center;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #0d3c61;
}
.form label{
    display:block;
    color: #555555;
    margin-top: 6px;
}
input{
    width:100%;
    text-align:center;
    padding: 13px 0px 13px 25px;
    letter-spacing:1px;
    word-spacing:3px;
    border: 2px solid #dddddd;
    border-radius:5px;
}
.card-grp{
    display:flex;
    justify-content:space-between;
}
.card-item{
    width:48%;
}
.space{
    margin-bottom: 20px;
}
.btn{
    background: #2196F3;
    padding: 12px;
    text-align:center;
    cursor:pointer;
}

.icon-relative{
    position:relative;
}
.icon-relative .far,
.icon-relative .fas
{
    position:absolute;
    bottom: 12px;
    left: 15px;

}